const title = "Unicontact - University Contact Portal";
const description =
  "";

const SEO = {
  title,
  description,
  canonical: "https://unicontact.com.ng",
  openGraph: {
    type: "website",
    locale: "en_IE",
    url: "https://unicontact.com.ng",
    title,
    description,
    images: [
      {
        url: "https://unicontact.com.ng/og.png",
        alt: title,
        width: 1280,
        height: 720
      }
    ]
  }
};

export default SEO;
